body{
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  padding: 10px;
  padding-top: 50px;
}
h2{
  text-align: center;
  color: orange;
  text-decoration: underline;
}
.card {
  padding-top: 80px;
  border-radius: 5px;
  box-shadow: 0 0 10px #ccc;
  position :relative;
  margin-bottom:30px;
  
  background-image: linear-gradient( 1.3deg,  rgba(91,117,163,1) 11.4%, rgba(68,98,128,1) 77% );
}
.card div {
  text-align: center;
  background-color: white;
  position: relative;
  padding:30px 15px 20px 15px;
  border-radius: 0 0 5px 5px;
  border-top: 1px solid #ccc;
;
}
.card img {
  display: block;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  position: absolute;
  top: -40px;
  left: 0;
  right: 0;
  margin: auto;
  border:2px solid #446280;
    box-shadow: 0 0 1px white;
}
.person_dtls{
  margin: 0;
  margin-top: -10px;
  font-size: 14.5px;
  color:gray;
}
.card_txt {
  text-align: left;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  padding :0 20px 0 20px;
}
.corner {
  background-color:#FFB305;
  width: 16px;
  height: 16px;
  position: absolute;
  top: -8px;
  left: -8px;
  border-radius: 5px;
  text-align: center;
  padding: 2px;
}

@media only screen and (min-width: 600px) {
  body {
    padding-left:100px;
    padding-right:100px;
  }
 .cardAtBig {
     display:flex;
     flex-direction:row;
     gap:20px;
     justify-content: center;
      align-items: center;
 }
 .cardAtBig .card {
    width:100%; 
 }
  .footer{
      font-size:14px;
  }
  h2 {
    font-size: 30px;
  }
  .person_dtls,p{
   font-size: 16px;
  }
  h4 {
    font-size: 18px;
  }
}
img[src*="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"] {display: none;}
